<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>RegulaMogi</title>
<link href="/css/bootstrap.min.js" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />


</head>
<body>

	<header layout:include="menu"> </header>


	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>

<script src="/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/modaldeletar.js" th:src="@{/js/modaldeletar.js}"></script>
</body>
</html>