<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8" />
</head>
<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>

	<div style="text-align: center; text-weight: bold; text-size: 20px">
		<label>ESPECIALIDADES</label>
	</div>


	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-3">ID</th>
					<th class="text-center col-md-7">Especialidade</th>
					<th class="text-center col-md-2">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="especialidade : ${especialidades}">
					<td class="text-center" th:text="${especialidade.id}"></td>
					<td class="text-center"
						th:text="${especialidade.nomeEspecialidade}"></td>
					<td class="text-center"><a class="btn btn-link btn-xs"
						th:href="@{/especialidades/{id}(id=${especialidade.id})}"> <span
							class="glyphicon glyphicon-pencil"></span>
					</a> <a class="btn" data-toggle="modal" data-target="#modalDelete"
						th:attr="data-id=${especialidade.id}, data-tipo=${especialidade.nomeEspecialidade}, data-entidade='especialidades'">
							<span class="glyphicon glyphicon-trash"></span>
					</a></td>
				</tr>
				<tr>
					<td class="text-center" colspan="6"
						th:if="${#lists.isEmpty(especialidades)}">Nenhum Dado
						encontrado.</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body text-center">
			<a class="btn btn-primary" href="/especialidades/novo" role="button">Novo</a>
		</div>
	</div>

	<div layout:include="ModalDelete"></div>

</section>

</html>