<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8" />
</head>
<section layout:fragment="conteudo">
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-2">ID</th>
					<th class="text-center col-md-4">Login</th>
					<th class="text-center col-md-4">Perfil</th>
					<th class="text-center col-md-2">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="conta : ${contas}">
					<td class="text-center" th:text="${conta.id}"></td>
					<td class="text-center" th:text="${conta.login}"></td>
					<td class="text-center" th:text="${conta.perfil.tipo}"></td>
					<td class="text-center">
					<a class="btn btn-link btn-xs"
						th:href="@{/contas/{id}(id=${conta.id})}">
							<span class="glyphicon glyphicon-pencil"></span>
					</a>
						<a  class="btn" data-toggle="modal" data-target="#modalDelete" 
						th:attr="data-id=${conta.id}, data-tipo=${conta.login}, data-entidade='contas'"
							>
							<span class="glyphicon glyphicon-trash"></span>
						</a></td>
				</tr>
				<tr>
					<td class="text-center" colspan="6"
						th:if="${#lists.isEmpty(contas)}">Nenhum Dado encontrado.</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body text-center">
			<a class="btn btn-primary" href="/contas/novo" role="button">Novo</a>
		</div>
	</div>
	
	<div layout:include="ModalDelete"></div>
	
	
</section>

</html>