<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top">
	 	<!-- <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"> <img alt="AlgaWorks"
				th:src="@{/images/ic_regulamogi.png}" />
			</a>
		</div>
	</div>  -->

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle titulo-menu"
				data-toggle="dropdown" role="button" aria-haspopup="true"
				aria-expanded="false">Cadastros<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/especialidades/all">Especialidades</a></li>
					<li><a href="/contas/all">Contas</a></li>
					<li><a href="/perfis/all">Perfis</a></li>
					<li><a href="/unidadesDeSaudes/all">Unidades De Saúdes</a></li>
					
				</ul>
				</li>
		</ul>
	</div>

</nav>

</html>