<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8" />
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/solicitacoes"
		th:object="${solicitacao}">

		<div layout:include="Mensagem"></div>

		<div class="panel panel-default">
			<div class="panel-body">
				<input type="hidden" th:field="*{id}" />
				<div class="row"
					th:classappend="${#fields.hasErrors('paciente.SIS')} ? has-errors">
					<label class="control-label col-sm-2 is-required" for="sis">SIS</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="sis"
							th:field="*{paciente.SIS}" placeholder="Digite o SIS" />
					</div>
				</div>

				<div class="row"
					th:classappend="${#fields.hasErrors('paciente.nome')} ? has-errors">
					<label class="control-label col-sm-2 is-required" for="sis">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome"
							th:field="*{paciente.nome}" placeholder="Digite o Nome" />
					</div>
				</div>


				<div class="row">
					<label for="status" class="col-sm-2 control-label is-required">Especialidade</label>
					<div class="col-sm-3">
						<select class="form-control" id="especialidade"
							name="especialidade">
							<option th:each="especialidade : ${especialidades}"
								th:value="${especialidade.id}"
								th:text="${especialidade.nomeEspecialidade}"></option>
						</select>
					</div>
				</div>

				<div class="row">
					<label for="status" class="col-sm-2 control-label is-required">Prioridade</label>
					<div class="col-sm-3">
						<select class="form-control" id="prioridade" name="prioridade">
							<option th:each="prioridade : ${prioridadesTypes}"
								th:value="${prioridade}" th:text="${prioridade}"></option>
						</select>
					</div>
				</div>

				<div class="row"
					th:classappend="${#fields.hasErrors('dataConsulta')} ? has-errors">
					<label class="control-label col-sm-2 is-required" for="sis">Data
						Consulta</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataConsulta"
							th:field="*{dataConsulta}"
							placeholder="Digite a Data de Consulta" />
					</div>
				</div>

				<div class="row"
					th:classappend="${#fields.hasErrors('dataEnvio')} ? has-errors">
					<label class="control-label col-sm-2 is-required" for="dataEnvio">Data
						Envio</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="dataEnvio"
							th:field="*{dataEnvio}" placeholder="Digite a Data de Envio" />
					</div>
				</div>

				<div class="row"
					th:classappend="${#fields.hasErrors('numeroMemorando')} ? has-errors">
					<label class="control-label col-sm-2 is-required"
						for="numeroMemorando">Memorando</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="numeroMemorando"
							th:field="*{numeroMemorando}" placeholder="Digite o Memorando" />
					</div>
				</div>



				<div class="btn-group col-sm-offset-2" role="group">
					<div class="btn-group mr-2">
						<button type="submit" class="btn btn-primary btn-solicitacao">SALVAR</button>
					</div>
					<div class="btn-group mr-2">
						<button type="submit" class="btn btn-primary btn-solicitacao">CRIAR
							ESPECIALIDADE</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

</html>